<div>
    <h1>Hello App!</h1>
    <section>
        <v-text-field label="Name" v-model="name"/>

        <div>
            Some text.
            <g-emoji alias="wave">👋</g-emoji>
			Some text 2.
            <g-emoji>🧑‍🦯</g-emoji>
			Some text 3.
			<g-emoji alias="tomato">👨‍👩‍👧‍👦</g-emoji>
            Moar text!
            <g-emoji>🧛🏽‍♂️</g-emoji>
            Vampires!
        </div>

        <v-img src="../../img/logo-generic.svg"></v-img>

        <v-text-field label="Email" :error="true" error-messages="This email is invalid" counter="30" value="john@"/>

        <v-text-field label="Username" success-messages="This username is available" counter="30" value="johnsilver"/>

        <v-text-field
                label="Password"
                type="password"
                value="iwantmytreasure"
                :append-icon="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                :type="showPassword ? 'text' : 'password'"
                @click:append="showPassword = !showPassword"
        />

        <v-textarea counter="200" :value="$t('Hello')"/>
    </section>
</div>